node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
docs
.editorconfig
.eslintignore
.eslintrc.json
.stylelintrc
.flowconfig
coverage
*.log
codeship-services.yml
codeship-steps.yml
logs
